.header {
    height: 50px;
    width: 100%;
    margin: 5px;
    background-color: #CCCCCC;
    font-size: 2em;
    font-weight: bold;
}

.content {
    width: 100%;
    margin: 5px;
    background-color: #EEEEEE;
}