<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CheckOutToolPath" value="C:\Program Files (x86)\Microsoft Visual Studio 11.0\Common7\IDE\tf.exe" />
    <add key="CheckOutToolArguments" value="checkout" />
    <add key="GlobalDirectoryExcludes" value="bin;obj;csx;Backup;Backup1;Backup2" />
    <add key="Recursions" value="100" />
  </appSettings>
</configuration>