<jsPack>
  <output filename="../knockout.composite.js">
    <include files="setup.js" />
    <include files="PubSub.js" />
    <include files="PubSub.extensions.js" />
    <include files="jquery.complete.js" />
    <include files="jquery.event.destroyed.js" />
    <include files="logger.js" />
    <include files="utils.paths.js" />
    <include files="utils.panes.js" />
    <include files="utils.objects.js" />
    <include files="utils.proxy.js" />
    <include files="resources.js" />
    <include files="resources.scripts.js" />
    <include files="resources.stylesheets.js" />
    <include files="resources.templates.js" />
    <include files="resources.models.js" />
    <include files="Monitor.js" />
    <include files="ModelBinder.js" />
    <include files="Pane.js" />
    <include files="hashChange.js" />
    <include files="hashProvider.js" />
    <include files="history.js" />
    <include files="history.observableExtension.js" />
    <include files="transitions.js" />
    <include files="transitions.*.js" />
    <include files="bindingHandlers.js" />
  </output>

  <output filename="../knockout.composite.min.js" minify="true">
    <include files="../knockout.composite.js" />
  </output>
</jsPack>